Question 1 - Convert given hrs & mins in second

In [3]:
hr = int(input("Enter a hours"))
minutes = int(input("Enter a minutes"))
total=0
total = hr*60*60+minutes*60
print("total seconds of ", hr," and ", minutes, " is ", total)

Enter a hours5
Enter a minutes45
total seconds of  5  and  45  is  20700

Question 2 - Write code to find the average of ‘n’ numbers entered by the user to function avg ( ).

In [69]:
def avg(*n):
    sum=0
    for t in n:
        sum =sum +t
    avg = sum +t
    avg=sum /len(n)
    
    return avg

In [70]:
avg(5,6,7)

0.0

In [ ]:
Question 3 - pattern

In [10]:
n= 5
for i in range(1,n+1):
    for j in range(1, i+1):
        if i==1 or (i==2 and j==2) or (i==3 and j==2) or (i == 4 and j==3) or (i ==5 and j==1) or(i ==5 and j==3) or (i ==5 and j==5):
            print(1, end=" ")
        else:
            print(0, end=" ")
    print()

1
0 1
0 1 0
0 0 1 0
1 0 1 0 1

Question 4 -Write a code to accept a number & print in words.

In [58]:
n=int(input("enter a no"))
if n ==1:
    print("one")
elif n == 2:
    print("Two")
elif n == 3:
    print("Three")
else:
    print("Wrong input")

enter a no6
Wrong input

Question 5 - creat class

In [11]:
class Human:
    def __init__(self, name, last_name):
        self.name=name
        self.last_name=last_name
    
    def info(self):
        print(f'my name is {self.name} {self.last_name}')
    
    def greet(self):
        print(f'Hello {self.name} {self.last_name}')

In [12]:
h1=Human("sagar", "mali")

In [13]:
h1.info()

my name is sagar mali

In [14]:
h1.greet()

Hello sagar mali

In [ ]:
Question 6  -

Question 7 -Convert Paise in Rupees & Paises

In [17]:
p=int(input("Enter a paise"))
rs= 0
rs=p/100
print(p," paise is ", rs, "rupees")

Enter a paise560
560  paise is  5.6 rupees

Question 9 - Accept String & print only alternate characters on a string.

In [50]:
n = input("Enter a string")
for i in n:
    print(i,end="")

Enter a stringsagar
sagar

Question 10 - Create menu driven code for

In [59]:
n1 = float(input("Enter a first no"))
n2 = float(input("Enter a second no"))

a= input("What you want to perform?")

if a=="add":
    print(n1+n2)

elif a=="sub":
    print(n1-n2)
    
elif a=="mul":
    print(n1*n2)
    
elif a=="div":
    print(n1/n2)

else:
    print("Wrong input")

Enter a first no5
Enter a second no6
What you want to perform?add
11.0

In [68]:
n= 5
a=1
for i in range(1,n+1):
    for j in range(1, i+1):
        print(a, end=" ")
    if i == 1 or i ==2:
        a+=2
    else:
        a+=1
    print()

1
3 3
5 5 5
6 6 6 6
7 7 7 7 7